*{
  color: white;
}

header {
  background-color: rgb(48, 47, 47);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999px;
}

.titulo-header {
color: rgb(54, 206, 206);
animation-duration: 2s;
animation-name: titulo-header;
animation-iteration-count: infinite;
}

.nav-header{
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
}

a{
  text-decoration: none;
}

footer {
  background-color: rgb(48, 47, 47);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.but:hover{
  background-color: rgba(240, 248, 255, 0.349);

}
#historia{
  width: 45%;
}

.texto-sec{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.linkedin{
  display: flex;
  border: 1px blue solid;
  border-radius: 5px;
  padding: 10px;
}

.darck-color{
  color: white;
  transition: 4s;
}

.light-color{
  transition: 4s;
  color: black;
}

.github{
  display: flex;
  border: 1px rgb(109, 11, 109) solid;
  border-radius: 5px;
  padding: 10px;
}
.containerbut{
  display: flex;
  gap: 15px;
}
.img-but{
  width: 30px;
}
.container-gerall{
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.container-geral{
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.but{
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  width: 150px;
  background-color: rgba(240, 248, 255, 0);
}
.img-Avatar{
  width: 350px;
}
.nome {
  color:rgb(54, 206, 206);
  text-shadow: 0 0 2px black;
}

.darck{
  transition: 4s;
  background-color: #252525;
  color: white;
}

.light{
  transition: 4s;
  background-color: #ADADAD;
  color: rgb(0, 0, 0);
}
.nocheck{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 60px;
  background-color: #252525;
  border-radius: 50px;
  transition: 4s;
  background-image: url('imgs/logo/darck.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.inputs{
  display: none;
}
.check{
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  justify-content: space-around;
  width: 300px;
  border-radius: 50px;
  height: 60px;
  background-image: url('imgs/logo/ligth.jpg');
  transition: 4s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#input{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 32px;
  position: fixed;
  left: 80vw;
  top: 3vh;
  height: 10px;
  width: 100%;
}


.foto_portifolio {
  width: 300px;
}

#paragrafo{
  text-align: center;
  width: 250px;
}

.projetos{
  text-align: justify;
  display: flex;
  gap: 30px;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
}
.projetos-cont{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.modo{
  transition: 4s;
}

.tecnologia{
  animation-duration: 3s;
  animation-name: titulo-header;
  animation-iteration-count: infinite;
}

#home:target{
  -webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
scroll-behavior: smooth;
animation: fadeIn 3s ease-in-out;
}

#sobre:target{
  -webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
scroll-behavior: smooth;
}
#portifolio:target{
  -webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
scroll-behavior: smooth;
}

@keyframes titulo-header {
  100%{
    color:rgb(54, 206, 206);
    text-shadow: 0 0 2px black;
  }
  50%{
    color: white;
    text-shadow: 0 0 2px black;
  }
  0%{
    color: rgb(54, 206, 206);
    text-shadow: 0 0 2px black;
  }
}

@media screen and (max-width: 1368px) {
  #input{
    font-size: 28px;
    left: 83vw;
    top: 5vh;
    width: 100%;
  }
  .check{
    width: 200px;
    height: 50px;
  }
  .nocheck{
    width: 200px;
    height: 50px;
  }

}


@media screen and (max-width: 767px){
  header {
    background-color: rgb(48, 47, 47);
    justify-content: space-around;
    position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
  }
  .nome{
    text-shadow: 0 0 2px black;
  }
  .modo{
    display: none;
  }
  #input{
    position: fixed;
    left: 0%;
    top: 70px;
    height: 30px;
    width: 100%;
  }
  .nocheck{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #25252500;
    background-image: url('imgs/logo/moon-phase-icon-png-removebg-preview.png');
    transition: 4s;
  }
  .inputs{
    display: none;
  }
  .check{
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: space-around;
    width: 60px;
    border-radius: 50px;
    height: 60px;
    transition: 4s;
    background-image: url('imgs/logo/sun-ligth-removebg-preview.png');
  }
  
  .nav-header{
    width: 50vw;
  }
  .titulo-header{
    font-size: 12px;
    width: 15px;
  }
  .container-gerall{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
  }
  .texto-sec > h1, h3, p {
    text-align: justify;
    font-size: 14px;
  }
  .texto-sec > h1{
    margin-top: 0;
  }
  .texto-sec > p{
    width: 90%;
    margin-bottom: 0;
  }
  .texto-sec{
    height: 75vh;
    width: 100%;
  }
  .container-geral{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
  }
  footer > a {
    font-size: 10px;
  }
  .img-Avatar{
    width: 50vw;
  }
  h1{
    font-size: 12px;
  }
  nav> a {
    font-size: 10px;
  }
  .but{
    font-size: 10px;
    height: 15px;
    width: 80px;
  }
  .img-but{
    width: 15px;
  }
  #portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .foto_portifolio{
    width: 50vw;
  }
  .projetos{
    width: 100vw;
    display: flex;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  h2{
    font-size: 10px;
    margin: 0;
  }
  .tecnologia{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  section > a{
    width: 50%;
  }
  #paragrafo{
    width: 50vw;
  }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }